// Colores
$color-primario: #0A998D;
$color-acento: #b6f3f1;
$color-contraste: #FF7D53; //#F16A70
$color-fondo: #fff;
$color-texto: #1F2A37;
$color-gris-claro: #cbcbcb;

// altura del header
$header-height: 64px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    min-height: 100dvh;
}

// HEADER
header {
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 3px 10px rgba($color: $color-primario, $alpha: 0.4);
    //border-bottom: 4px solid $color-contraste;
}

// NAVBAR RESPONSIVE
.navbar {
    background-color: $color-acento;

    // Logo
    a {
        margin: 0;
        padding: 0;

        .logo {
            height: 40px;
            display: block;
            background-color: #b6f3f1;
            margin: 0;
            padding: 0;
        }
    }

    // hamburger button
    button.navbar-toggler {
        border: none;
        font-size: 1.3em;
    }

    // navbar desplegable
    .offcanvas {
        background-color: $color-acento;
        width: 330px;

        // boton de X
        .offcanvas-header {

            .btn-close {
                font-size: 1.3em;
                color: $color-fondo;
                margin-top: 5px;
                margin-right: 5px;
            }
        }

        // Links
        .offcanvas-body {
            padding: 0;

            ul.navbar-nav {
                margin: 0;
                margin-bottom: 2em;

                li.nav-item {

                    a {
                        font-size: 1.3em;
                        padding: .6em 2em;
                        color: $color-primario;
                        font-weight: 500;
                    }

                    a:hover {
                        background-color: rgba($color: $color-primario, $alpha: 0.7);
                        color: $color-fondo;
                        transition: 0.1s ease;
                    }

                    a:active {
                        background-color: $color-primario;
                        color: $color-fondo;
                    }

                    // Links con Dropdown
                    .dropdown-menu {
                        margin: .5em 2em;
                        padding: 2px;
                        border: none;
                        background-color: $color-acento;

                        h6 {
                            font-size: 1.2em;
                            color: $color-fondo;
                            background-color: rgba($color: $color-primario, $alpha: 0.5);
                            text-align: center;
                            margin: 5px;
                            border-radius: 5px;
                        }

                        li {
                            background-color: rgba($color-acento, $alpha: 1);

                            a.dropdown-item {
                                color: $color-primario;
                            }

                            a.dropdown-item:hover {
                                background-color: rgba($color: $color-primario, $alpha: 0.3);
                                color: $color-texto;
                            }

                            a.dropdown-item:active {
                                background-color: $color-primario;
                                color: $color-fondo;
                            }
                        }
                    }
                }
            }
        }
    }
}


// SECCION PRINIPAL
main {

    // titulo
    h1.header {
        text-align: center;
        color: $color-primario;
        font-weight: bolder;
        margin: .8em;
    }

    // banner
    .banner {
        margin-bottom: 1.5em;

        .banner-img {
            object-fit: cover;
            width: 100%;
            height: 250px;
        }
    }


    // card categories
    article {
        margin-bottom: 3em;
        width: 100%;

        .card-categories {
            width: 100%;
            background-color: $color-contraste;
            padding: .5em;

            h4 {
                margin: 0;
                text-align: center;
                color: $color-fondo;
            }
        }

        // cards
        div.cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 1em;
            background-color: rgba($color: $color-gris-claro, $alpha: 0.3);
            border-bottom: 5px solid $color-contraste;

            // card individual 
            div.card {
                display: flex;
                flex-direction: column;
                height: 220px;
                width: 95%;
                border-radius: 10px;
                background-color: $color-acento;
                box-shadow: 3px 5px 10px rgba($color: $color-texto, $alpha: 0.2);
                margin: .5em 0;

                // imagen thumbnail
                .thumbnail {
                    height: clamp(200px, 18vw, 200px);
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;

                    img {
                        width: 100%;
                        object-fit: cover;
                        align-self: center;
                        margin: 0;
                        height: auto;
                        min-height: 180px;
                    }
                }

                // titulo del thumbnail
                h5.card-header {
                    font-size: 1.2em;
                    color: $color-texto;
                    margin: 2px;
                    background-color: $color-acento;
                    border-style: none;
                    text-align: center;
                }
            }
        }
    }




    // (SIDEBAR en desktop) Sobre el autor  
    aside.about-author {
        background-color: rgba($color: $color-gris-claro, $alpha: 0.3);
        padding: 1.2rem;

        .about-author__card {
            border-left: 5px solid $color-contraste;
            padding-bottom: 5px;
            box-shadow: 2px 5px 10px rgba($color: $color-gris-claro, $alpha: 0.5);
            background-color: $color-fondo;

            h3 {
                text-align: center;
                color: $color-contraste;
                padding: 10px;
                margin: 0 0 1rem 0;
                font-size: 1.8em;
            }

            .about-author__img {
                display: flex;
                justify-content: center;

                img {
                    width: clamp(50px, 60vw, 260px);
                    box-shadow: 1px 3px 5px 1px $color-gris-claro;
                    border-radius: 50%;
                }
            }

            .about-author__text {
                margin: 1em;

                p {
                    text-align: justify;
                }
            }
        }
    }
}


main.card-categories {
    cursor: pointer;
}

article .cards a {
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;

    .card {
        margin: 0;

        h5 {
            background-color: $color-acento;
            border: none;
        }
    }
}

// ----------- systems.html --------------
.content-wrap {
    margin-bottom: 2em;
}

details.systems-skills-dropdown {
    margin: 2em 0;
    width: 100%;
    background-color: rgba($color: $color-gris-claro, $alpha: 0.5);

    // Header - Dropdown de Sistemas/Skills
    summary.dropdown-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: $color-fondo;
        background-color: $color-contraste;
        font-size: 1.4em;
        padding: .25rem 2rem;
        font-weight: 500;
        
        &::before {
            content: "⯈";
            transition: transform .25s ease;
            order: 2;
        }

    }
    &[open] .dropdown-header::before {
        transform: rotate(90deg);
    }


    .system-skill-body {
        padding: 2em;
        border-bottom: 4px solid $color-contraste;

        .system-skill-drop {
            background-color: $color-fondo;
            margin: .75em 0;
            box-shadow: 3px 5px 10px rgba($color: $color-texto, $alpha: .1);


            summary {
                background-color: $color-acento;
                font-weight: 500;
                color: $color-texto;
                padding: .5rem 1rem;
                
            }

            summary.disabled-dropdown {
                color: $color-gris-claro;
            }

            .system-skill-drop-body {
                padding: 1em;

                a {
                    color: $color-gris-claro;
                }
            }
        }
    }
}

// ----- dropdowns de recursos.html -------

.column-resources {
    margin: .5rem 0;
    padding: 0;

    .column-resources__header {
        background-color: $color-contraste;
        color: $color-fondo;
        text-align: center;
        font-size: 1.3rem; // differente en desktop
        margin: 0;
        padding: 10px;
    }

    .column-resources__column {
        display: grid;
        background-color: $color-gris-claro;
        padding: 1rem;
        gap: 1rem;
        min-height: 200; // differente en desktop

        .dropdown-resources {
            box-shadow: 0px 2px 10px rgba($color: $color-primario, $alpha: 0.4);
            background-color: $color-acento;

            details {
                height: 100%;
                display: flex;
                flex-direction: column;
                min-height: 0;


                .dropdown-resources__header {
                    height: 100%;
                    font-weight: bold;
                    font-size: 1.2em; // differente en desktop
                    text-align: center;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: .5rem 2rem;

                    &::after {
                        content: "⯈";
                        transition: transform .25s ease;
                        font-size: 1.2rem; // differente en desktop
                    }
                }

                &[open] .dropdown-resources__header::after {
                    transform: rotate(90deg);
                }


                .dropdown-resources__thumbnail {
                    height: auto;

                    img {
                        border-bottom: 10px solid $color-acento;
                        box-shadow: 0px 10px 15px -5px $color-primario;
                        width: 100%;
                        max-height: 280px;
                        object-fit: cover;
                    }
                }

                .dropdown-resources__body {
                    background-color: $color-fondo;
                    margin: 0;
                    padding: 2rem 3rem;
                    font-size: 1rem; // differente en desktop
                    line-height: 1.4; // differente en desktop
                }
            }
        }
    }
}


// ---- algunos estilos de autoevaluacion.html -------
.score-chart {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;

    .table {
        width: 100%;
        box-shadow: 3px 5px 20px $color-gris-claro;
        margin: 2em auto;

        th {
            background-color: $color-acento;
        }
    }
}


.content-box {
    background-color: $color-gris-claro;
    margin: 3em 0;

    /* --- Autoevaluacion.html ----*/
    h2 {
        background-color: $color-primario;
        color: $color-fondo;
        text-align: left;
        padding: 1rem;
    }

    div {
        padding: 1.5em;

        h3 {
            color: $color-primario;
        }
    }

    /* --- recursos.html ----- */

    li {
        font-size: 1.2rem;
        line-height: 1.4;
    }

}

.dos-columnas {}

//-----------------
// FOOTER
footer {
    background-color: $color-texto;
    color: $color-fondo;
    text-align: center;
    padding: 1.5em;

    p {
        margin: 0;
    }
}





//----- MEDIA QUERIES --------

// MD SIZE en Bootstrap
@media (min-width: 576px) and (max-width: 991px) {
    body {

        main {

            section {

                .bloque-texto {
                    margin: 2em 1em;
                }

            }

            aside.about-author {
                padding: 1em 1em 2em;

                .about-author__card {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    grid-template-areas:
                        " photo header "
                        " photo text";
                    padding: 1rem;

                    h3 {
                        margin: 0.2em;
                        text-align: left;
                        grid-area: header;
                    }

                    .about-author__img {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        grid-area: photo;


                        img {
                            width: clamp(30px, 35vw, 260px);
                            align-content: center;
                            margin-inline: .5rem;
                        }

                    }

                    .about-author__text {
                        width: 95%;
                        margin: 0 1rem;
                        grid-area: text;

                        p {
                            margin: 5px 0 5px;
                        }
                    }
                }

            }
        }
    }


}

// LG SIZE en bootstrap 
@media (min-width: 992px) {


    header {

        // NAVBAR
        .navbar {

            .offcanvas {

                .offcanvas-body {
                    display: flex;
                    align-items: center;
                    padding: 0;

                    ul.navbar-nav {
                        margin-bottom: 0;

                        li.nav-item {

                            a {
                                padding: 0.8em 1em;
                                color: $color-primario;
                            }

                            a:hover {
                                background-color: rgba($color: $color-primario, $alpha: .5);
                                color: $color-fondo;
                                transition: 0.1s ease;
                            }

                            a:active {
                                background-color: rgba($color: $color-primario, $alpha: 1);
                                color: $color-fondo;
                            }

                            // dropdown
                            ul.dropdown-menu {
                                margin: 0;
                                padding: 2px;

                                width: 100%;
                                box-shadow: 1px 5px 10px 1px rgba($color: $color-texto, $alpha: 0.3);

                                h6 {
                                    color: $color-fondo;
                                    background-color: rgba($color: $color-primario, $alpha: .8);
                                    padding: 5px 0;
                                    border-radius: 5px;
                                    font-size: 1rem;
                                    font-weight: bold;
                                }

                                li {

                                    a.dropdown-item {
                                        color: $color-primario;
                                    }

                                    a.dropdown-item:hover {
                                        background-color: rgba($color: $color-primario, $alpha: 0.3);
                                        color: $color-texto;
                                    }

                                    a.dropdown-item:active {
                                        background-color: $color-primario;
                                        color: $color-fondo;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        /* hover abre el dropdown en desktop */
        .navbar .dropdown-hover:hover>.dropdown-menu,
        .navbar .dropdown-hover:focus-within>.dropdown-menu {
            display: block;
        }

        .navbar .dropdown-hover .dropdown-menu {
            margin-top: 0;
        }
    }


    main {

        // CARDS SECTION - SYSTEMS
        article {

            // cards
            div.cards-systems-flex {
                flex-direction: row;
                padding-inline: 1em;

                a {
                    height: 100%;

                    .card {
                        height: clamp(140px, 18vw, 200px);

                        .thumbnail {

                            img {
                                height: 100%;
                            }
                        }
                    }
                }
            }


            // cards skills (con grid)
            div.cards-skills-grid {
                display: grid;
                grid-template: 1fr 1fr / 1fr 1fr;
                grid-area: "reading" "listening"
                    "writing" "speaking";
                padding-inline: auto;

                div.card {
                    margin-inline: auto
                }
            }
        }


        // SECCIÓN PRINCIPAL
        section {


            .content-wrap {
                box-sizing: border-box;
                max-width: 900px;
                margin-inline: auto;

                .bloque-texto {
                    margin: 2em 2.5em;
                }

            }
        }



        // SIDEBAR - Sobre el Autor
        aside.about-author {
            margin-top: 0;
            display: block;
            height: auto;
            padding: 2rem;

            .about-author__card {

                h3 {}

                .about-author__img {
                    display: flex;
                    justify-content: center;

                    img {
                        width: 70%;
                        max-width: 250px;
                    }
                }

                .about-author__text {
                    padding: 0 .5em;

                    p {
                        text-align: left;
                    }
                }
            }
        }
    }

    /* Columnas de Resources.html */
    .column-resources {

        .column-resources__header {
            font-size: 1.75rem;
        }

        .column-resources__column {
            min-height: 300px;

            .dropdown-resources {

                details {

                    .dropdown-resources__header {
                        font-size: 1.5em;
                    }

                    .dropdown-resources__body {
                        font-size: 1.2rem;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}