:root {
    --primario: #0A998D; /*  -- #0FB9CB*/
    --acento: #b6f3f1;
    --contraste: #F16A70;
    --fondo: #fff;
    --text: #1F2A37;
    --gris-claro: #cbcbcb;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: var(--text);
}


/* NAVBAR */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
} 
.navbar {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: var(--acento);
    padding: 1em 4em;
}

.logo {
    height: 50px;
    display: block;
}

.checkbox {
    display: none;
}

.open-navbar-icon {
    font-size: 30px;
    margin: 0;
    vertical-align: middle;
    font-weight: bolder;
    display: none;
    
}

.close-navbar-icon {
    font-size: 30px;
    font-weight: bolder;
    display: none;
}

.overlay {
    display: none;
}

.navlinks {
    display: flex;
    align-items: center;
}

.navlinks ul {
    transition: right .25s ease-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0;
}

.navlinks li {
    list-style: none;
}

.navlinks a {
    font-size: 1.1em;
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    line-height: 1;
}

.navlinks a:hover {
    background-color: var(--primario);
    color: var(--fondo);
}


/* MAIN */

main  {
    margin: 0;
/*     margin-left: clamp(1rem, 5vw, 100px);
    margin-right: clamp(1rem, 5vw, 100px); */
}

main h1 {
    text-align: center;
    margin: .75em;
    color: var(--primario);
    font-weight: bolder;
}

main p {
    margin: .5rem;
}

.banner  {
}

.banner-img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.portada,
.portada-skill,
.portada-system {
    background-color: var(--acento);

    img {
        display: block;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    h4 {
        text-align: center;
    }
}

.dropdown-h2 {
    font-size: 16pt;
    background-color: var(--primario);
    margin-bottom: .5rem;
}

.dropdown-h3 {
    font-size: 14pt;
}

.autoeval-body {
    background-color: rgb(211, 243, 254);
}

.nivel-real {
    background-color: rgb(236, 235, 233);
}

aside {
    background-color: var(--acento);
}

footer {
    background-color: var(--text);
    color: var(--fondo);
    text-align: center;
    border: #0FB9CB solid;
}


/* MEDIA QUERIES */
@media (max-width: 999px) {
    .navbar {
        display: flex;
        align-content: center;
        position: sticky;
        top: 0;
        background-color: var(--acento);
        padding: 1em 0.5em;
        flex-direction: column;
    }

    .logo {
        margin-bottom: 15px;
    }
}


@media (max-width: 768px) {
    .navbar {
        display: flex;
        align-content: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background-color: var(--acento);
        padding: 1em 1em;
        flex-direction: row;
    }

    .logo {
        margin: 0;
        height: 45px;
    }

    .open-navbar-icon {
        position: fixed;
        display: inline-block;
        font-size: 28px;
        cursor: pointer;
        right: 5%;
    }
    
    .close-navbar-icon {
        font-size: 28px;
        display: inline-block;
        cursor: pointer;
        position: relative;
        left: 82%;
        top: 2%;
    }
    
    .navlinks ul {

        flex-direction: column;
        transition: .2s ease-out;
        align-items: flex-start;
        position: fixed;
        text-align: left;
        z-index: 51;
        padding: 0;
        top: 0;
        right: -200%;
        background-color: var(--primario);
        height: 100%;
        border-left: 6px solid var(--acento);
    }

    .navlinks a {
        display: inline-block;
        width: 300px;
        padding: 20px 2em;
        color: var(--fondo);
        font-size: 1.2em;
    }

    .navlinks a:hover {
        background-color: var(--acento);
        color: var(--text);
    }

    #navbar-active:checked~.navlinks ul {
        display: flex;
        right: 0;
    }

    #navbar-active:checked ~ #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
    }
}