* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
}
body header {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 3px 10px rgba(10, 153, 141, 0.4);
}
body header .navbar {
  background-color: #b6f3f1;
}
body header .navbar a {
  margin: 0;
  padding: 0;
}
body header .navbar a .logo {
  height: 40px;
  display: block;
  background-color: #b6f3f1;
  margin: 0;
  padding: 0;
}
body header .navbar button.navbar-toggler {
  border: none;
  font-size: 1.3em;
}
body header .navbar .offcanvas {
  background-color: #0A998D;
}
body header .navbar .offcanvas .offcanvas-header .btn-close {
  font-size: 1.3em;
  color: #fff;
  margin-top: 5px;
  margin-right: 5px;
}
body header .navbar .offcanvas .offcanvas-body {
  padding: 0;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav {
  margin-bottom: 2em;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item a {
  font-size: 1.3em;
  padding: 0.6em 2em;
  color: #fff;
  font-weight: 500;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item a:hover {
  background-color: rgba(182, 243, 241, 0.5);
  color: #1F2A37;
  transition: 0.1s ease;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item a:active {
  color: #0A998D;
  background-color: #b6f3f1;
  color: #1F2A37;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item .dropdown-menu {
  margin: 0.5em 2em;
  padding: 2px;
  background-color: #0A998D;
  border: 1px solid #b6f3f1;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item .dropdown-menu h6 {
  font-size: 1.2em;
  color: #b6f3f1;
  text-align: center;
  margin: 5px;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item .dropdown-menu li {
  margin: 0;
  background-color: #0A998D;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item .dropdown-menu li .dropdown-divider {
  background-color: #b6f3f1;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item .dropdown-menu li a.dropdown-item {
  color: #fff;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item .dropdown-menu li a.dropdown-item:hover {
  background-color: rgba(182, 243, 241, 0.5);
  color: #1F2A37;
  color: #1F2A37;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item .dropdown-menu li a.dropdown-item:active {
  background-color: #b6f3f1;
}
body main section .content-wrap h1 {
  text-align: center;
  color: #0A998D;
  font-weight: bolder;
  margin: 0.8em;
}
body main section .content-wrap .banner {
  margin-bottom: 1.5em;
}
body main section .content-wrap .banner .banner-img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
body main section .content-wrap .bloque-texto {
  /* background-color: red; */
}
body main section .content-wrap article {
  margin-bottom: 3em;
  width: 100%;
}
body main section .content-wrap article .card-categories {
  width: 100%;
  background-color: #F16A70;
  padding: 0.5em;
}
body main section .content-wrap article .card-categories h4 {
  margin: 0;
  text-align: center;
  color: #fff;
}
body main section .content-wrap article div.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 1em;
  background-color: rgba(203, 203, 203, 0.3);
  border-bottom: 5px solid #F16A70;
}
body main section .content-wrap article div.cards div.card {
  display: flex;
  flex-direction: column;
  height: 240px;
  width: 95%;
  border-radius: 10px;
  background-color: #b6f3f1;
  box-shadow: 3px 5px 10px rgba(31, 42, 55, 0.2);
  margin: 0.5em 0;
}
body main section .content-wrap article div.cards div.card .thumbnail {
  flex: 1 1 auto;
  overflow: hidden;
}
body main section .content-wrap article div.cards div.card .thumbnail img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  align-self: center;
  margin: 1em 0 0 0;
  height: auto;
}
body main section .content-wrap article div.cards div.card h5 {
  font-size: 1.2em;
  text-align: center;
  color: #1F2A37;
  margin: 5px;
  margin-bottom: 0.5em;
}
body main aside.sobre-el-autor {
  background-color: #b6f3f1;
  margin-top: 2em;
}
body main aside.sobre-el-autor h3 {
  text-align: center;
  color: #0A998D;
  margin: 0.5em;
  font-size: 1.8em;
}
body main aside.sobre-el-autor .foto-autor {
  width: 70%;
  align-items: center;
  justify-self: center;
}
body main aside.sobre-el-autor .foto-autor img {
  width: 100%;
  border-radius: 50%;
}
body main aside.sobre-el-autor .autor-texto {
  margin: 2em 1em;
}
body main aside.sobre-el-autor .autor-texto p {
  text-align: justify;
}
body footer {
  background-color: #1F2A37;
  color: #fff;
  text-align: center;
  padding: 1.5em;
}
body footer p {
  margin: 0;
}

@media (min-width: 576px) and (max-width: 991px) {
  body main section .bloque-texto {
    margin: 2em 1em;
  }
  body main aside.sobre-el-autor {
    display: flex;
    flex-direction: column;
    padding: 1em 2em 2em;
  }
  body main aside.sobre-el-autor h3 {
    margin: 0.2em;
  }
  body main aside.sobre-el-autor .autor-foto-texto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  body main aside.sobre-el-autor .autor-foto-texto .foto-autor {
    width: 30%;
    align-content: center;
  }
  body main aside.sobre-el-autor .autor-foto-texto .autor-texto {
    width: 65%;
    margin: 0;
  }
  body main aside.sobre-el-autor .autor-foto-texto .autor-texto p {
    margin: 5px 0 5px;
  }
}
@media (min-width: 992px) {
  body header .navbar .offcanvas .offcanvas-body {
    display: flex;
    align-items: center;
    padding: 0;
  }
  body header .navbar .offcanvas .offcanvas-body ul.navbar-nav {
    margin-bottom: 0;
  }
  body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item a {
    padding: 0.8em 1em;
    color: #0A998D;
  }
  body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item a:hover {
    background-color: rgba(10, 153, 141, 0.5);
    color: #1F2A37;
    transition: 0.1s ease;
  }
  body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item a:active {
    background-color: #0A998D;
    color: #fff;
  }
  body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item ul.dropdown-menu {
    margin: 0.5em 0;
    padding: 2px;
    background-color: #0A998D;
    border: 1px solid #b6f3f1;
    width: 100%;
  }
  body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item ul.dropdown-menu li a.dropdown-item {
    color: #fff;
  }
  body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item ul.dropdown-menu li a.dropdown-item:hover {
    background-color: rgba(182, 243, 241, 0.5);
    color: #1F2A37;
    color: #1F2A37;
  }
  body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item ul.dropdown-menu li a.dropdown-item:active {
    background-color: #b6f3f1;
  }
  body main section {
    margin-bottom: 5em;
  }
  body main section .content-wrap {
    box-sizing: border-box;
    max-width: 850px;
    margin-inline: auto;
  }
  body main section .content-wrap .bloque-texto {
    margin: 2em 2.5em;
  }
  body main section .content-wrap article div.cards {
    flex-direction: row;
    padding-inline: 1em;
  }
  body main section .content-wrap article div.cards-skills-grid {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    grid-area: "reading" "listening" "writing" "speaking";
    padding-inline: auto;
  }
  body main section .content-wrap article div.cards-skills-grid div.card {
    margin-inline: auto;
  }
  body main aside.sobre-el-autor {
    margin-top: 0;
    display: block;
    height: auto;
  }
  body main aside.sobre-el-autor .autor-foto-texto {
    display: contents;
  }
  body main aside.sobre-el-autor .autor-foto-texto .foto-autor {
    width: 70%;
    max-width: 250px;
  }
  body main aside.sobre-el-autor .autor-foto-texto .autor-texto {
    text-align: justify;
    padding: 0 1.2em;
  }
}

/*# sourceMappingURL=style.css.map */
