@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
}
body header {
  position: sticky;
  top: 0;
  z-index: 999;
}
body header .navbar {
  background-color: #b6f3f1;
}
body header .navbar .logo {
  height: 45px;
  display: block;
  background-color: #b6f3f1;
}
body header .navbar {
  /* hamburger button */
}
body header .navbar button.navbar-toggler {
  border: none;
  font-size: 1.3em;
}
body header .navbar {
  /* navbar desplegable */
}
body header .navbar .offcanvas {
  background-color: #0A998D;
  /* boton de X */
}
body header .navbar .offcanvas .offcanvas-header .btn-close {
  font-size: 1.3em;
  color: #fff;
  margin-top: 5px;
  margin-right: 5px;
}
body header .navbar .offcanvas {
  /* Links */
}
body header .navbar .offcanvas .offcanvas-body {
  padding: 0;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav {
  margin-bottom: 2em;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item a {
  font-size: 1.3em;
  padding: 0.6em 2em;
  color: #fff;
  font-weight: 500;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item a:hover {
  background-color: rgba(182, 243, 241, 0.5);
  color: #1F2A37;
  transition: 0.1s ease;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item a:active {
  color: #0A998D;
  background-color: #b6f3f1;
  color: #1F2A37;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item {
  /* Links con Dropdown */
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item .dropdown-menu {
  margin: 0.5em 2em;
  padding: 2px;
  background-color: #0A998D;
  border: 1px solid #b6f3f1;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item .dropdown-menu h6 {
  font-size: 1.2em;
  color: #b6f3f1;
  text-align: center;
  margin: 5px;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item .dropdown-menu li {
  margin: 0;
  background-color: #0A998D;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item .dropdown-menu li .dropdown-divider {
  background-color: #b6f3f1;
  /* border: 0.5px solid $clr-acento; */
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item .dropdown-menu li a.dropdown-item {
  color: #fff;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item .dropdown-menu li a.dropdown-item:hover {
  background-color: rgba(182, 243, 241, 0.5);
  color: #1F2A37;
  color: #1F2A37;
}
body header .navbar .offcanvas .offcanvas-body ul.navbar-nav li.nav-item .dropdown-menu li a.dropdown-item:active {
  background-color: #b6f3f1;
}
body header .navbar .offcanvas .offcanvas-body form.d-flex {
  margin: 0 2em;
  /* height: 2.5em; */
}
body header .navbar .offcanvas .offcanvas-body form.d-flex .btn-outline-success {
  background-color: #F16A70;
  color: #fff;
}
body {
  /* Navbar */
}
body main {
  /* Sección Principal */
}
body main h1 {
  text-align: center;
  color: #0A998D;
  font-weight: bolder;
  margin: 0.8em;
}
body main .banner {
  margin-bottom: 1.5em;
}
body main .banner .banner-img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
body main {
  /* Sobre el autor (Sidebar en desktop) */
}
body main aside {
  background-color: #b6f3f1;
}
body main aside h3 {
  text-align: center;
  color: #0A998D;
  margin: 0.5em;
  font-size: 1.8em;
}
body main aside .foto-autor {
  width: 80%;
  align-items: center;
  justify-self: center;
}
body main aside .foto-autor img {
  width: 100%;
  border-radius: 50%;
}
body main aside .autor-texto {
  margin: 2em 0;
}
body footer {
  background-color: #1F2A37;
  color: #fff;
  text-align: center;
  padding: 2em;
}

/* MEDIA QUERIES */
/* Bootstrap md size */
@media (min-width: 576px) and (max-width: 991px) {
  .sobre-el-autor {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  .sobre-el-autor h3 {
    margin: 0.2em;
  }
  .sobre-el-autor .autor-foto-texto {
    display: flex;
    gap: 1em;
  }
  .sobre-el-autor .autor-foto-texto .foto-autor {
    width: 30%;
    align-content: center;
  }
  .sobre-el-autor .autor-foto-texto .autor-texto {
    width: 65%;
    margin: 0;
    align-content: center;
  }
  .sobre-el-autor .autor-foto-texto .autor-texto p {
    margin: 5px 0;
  }
}
/* bootstrap lg size */

/*# sourceMappingURL=style.css.map */
